-- CreateEnum
CREATE TYPE "UserRole" AS ENUM ('engineer', 'company', 'admin');

-- CreateEnum
CREATE TYPE "ProficiencyLevel" AS ENUM ('beginner', 'intermediate', 'advanced', 'expert');

-- CreateEnum
CREATE TYPE "TaskType" AS ENUM ('bounty', 'direct', 'contest');

-- CreateEnum
CREATE TYPE "TaskStatus" AS ENUM ('draft', 'pending_escrow', 'open', 'in_progress', 'in_review', 'completed', 'cancelled');

-- CreateEnum
CREATE TYPE "TaskDifficulty" AS ENUM ('easy', 'medium', 'hard', 'expert');

-- CreateEnum
CREATE TYPE "PaymentType" AS ENUM ('fixed', 'hourly', 'milestone');

-- CreateEnum
CREATE TYPE "SubmissionStatus" AS ENUM ('pending', 'under_review', 'accepted', 'rejected', 'winner');

-- CreateEnum
CREATE TYPE "ProductCategory" AS ENUM ('ai_agents', 'fine_tuned_models', 'saas_tools', 'automation_workflows', 'datasets_prompts', 'apis_microservices');

-- CreateEnum
CREATE TYPE "PricingModel" AS ENUM ('one_time', 'subscription', 'freemium', 'per_call');

-- CreateEnum
CREATE TYPE "ProductStatus" AS ENUM ('draft', 'pending_moderation', 'published', 'suspended', 'archived');

-- CreateEnum
CREATE TYPE "PurchaseStatus" AS ENUM ('pending', 'completed', 'failed', 'refunded', 'disputed');

-- CreateEnum
CREATE TYPE "DisputeStatus" AS ENUM ('open', 'under_review', 'resolved_buyer', 'resolved_seller', 'closed');

-- CreateEnum
CREATE TYPE "SubscriptionStatus" AS ENUM ('active', 'past_due', 'cancelled', 'expired');

-- CreateEnum
CREATE TYPE "HiringMode" AS ENUM ('full_time', 'internship', 'hourly_contract', 'project_contract');

-- CreateEnum
CREATE TYPE "ContractStatus" AS ENUM ('draft', 'pending_signature', 'active', 'completed', 'terminated', 'amended', 'disputed');

-- CreateEnum
CREATE TYPE "MilestoneStatus" AS ENUM ('pending', 'in_progress', 'submitted', 'approved', 'paid');

-- CreateEnum
CREATE TYPE "MessageRequestStatus" AS ENUM ('pending', 'approved', 'declined');

-- CreateEnum
CREATE TYPE "OffPlatformViolationLevel" AS ENUM ('warning', 'review', 'suspended');

-- CreateEnum
CREATE TYPE "EscrowPaymentType" AS ENUM ('escrow_deposit', 'milestone_release', 'payout', 'subscription', 'platform_fee', 'refund');

-- CreateEnum
CREATE TYPE "EscrowPaymentStatus" AS ENUM ('pending', 'processing', 'completed', 'failed', 'refunded');

-- CreateEnum
CREATE TYPE "PayoutMethod" AS ENUM ('upi', 'neft', 'imps');

-- CreateEnum
CREATE TYPE "ContractDisputeStatus" AS ENUM ('pending', 'under_review', 'resolved', 'escalated');

-- CreateEnum
CREATE TYPE "KYCStatus" AS ENUM ('not_started', 'pending', 'verified', 'rejected');

-- CreateEnum
CREATE TYPE "SubscriptionTier" AS ENUM ('engineer_basic', 'engineer_pro', 'engineer_premium', 'company_starter', 'company_growth', 'company_enterprise');

-- CreateEnum
CREATE TYPE "ConsentType" AS ENUM ('marketing_email', 'profile_recommendations', 'webcam_proctoring', 'public_activity');

-- CreateEnum
CREATE TYPE "DeletionStatus" AS ENUM ('pending', 'completed', 'cancelled');

-- CreateTable
CREATE TABLE "users" (
    "id" UUID NOT NULL,
    "clerkId" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "role" "UserRole" NOT NULL,
    "isEmailVerified" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "engineer_profiles" (
    "id" UUID NOT NULL,
    "userId" UUID NOT NULL,
    "fullName" TEXT NOT NULL,
    "bio" TEXT,
    "location" TEXT,
    "githubUrl" TEXT,
    "linkedinUrl" TEXT,
    "portfolioUrl" TEXT,
    "yearsOfExperience" INTEGER,
    "hourlyRate" DECIMAL(10,2),
    "minHourlyRate" DECIMAL(10,2),
    "maxHourlyRate" DECIMAL(10,2),
    "upiId" TEXT,
    "kycVerified" BOOLEAN NOT NULL DEFAULT false,
    "availabilityStatus" TEXT NOT NULL DEFAULT 'available_now',
    "availableInWeeks" INTEGER,
    "neuronScore" INTEGER NOT NULL DEFAULT 0,
    "neuronTier" TEXT NOT NULL DEFAULT 'conditional',
    "lastActivityAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "completenessScore" INTEGER NOT NULL DEFAULT 0,
    "basicInfoComplete" BOOLEAN NOT NULL DEFAULT false,
    "skillsComplete" BOOLEAN NOT NULL DEFAULT false,
    "experienceComplete" BOOLEAN NOT NULL DEFAULT false,
    "projectsComplete" BOOLEAN NOT NULL DEFAULT false,
    "pricingComplete" BOOLEAN NOT NULL DEFAULT false,
    "paymentComplete" BOOLEAN NOT NULL DEFAULT false,
    "kycComplete" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "engineer_profiles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "company_profiles" (
    "id" UUID NOT NULL,
    "userId" UUID NOT NULL,
    "companyName" TEXT NOT NULL,
    "description" TEXT,
    "website" TEXT,
    "logoUrl" TEXT,
    "location" TEXT,
    "size" TEXT,
    "industry" TEXT,
    "foundedYear" INTEGER,
    "gstNumber" TEXT,
    "trustScore" INTEGER NOT NULL DEFAULT 0,
    "websiteVerified" BOOLEAN NOT NULL DEFAULT false,
    "gstVerified" BOOLEAN NOT NULL DEFAULT false,
    "isHiring" BOOLEAN NOT NULL DEFAULT false,
    "hiringIntents" TEXT[],
    "aiRequirements" TEXT[],
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "company_profiles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "engineer_skills" (
    "id" UUID NOT NULL,
    "engineerProfileId" UUID NOT NULL,
    "skillName" TEXT NOT NULL,
    "proficiencyLevel" "ProficiencyLevel" NOT NULL,
    "yearsOfExperience" INTEGER,
    "projectCount" INTEGER NOT NULL DEFAULT 0,
    "verified" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "engineer_skills_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "refresh_tokens" (
    "id" UUID NOT NULL,
    "userId" UUID NOT NULL,
    "token" TEXT NOT NULL,
    "expiresAt" TIMESTAMPTZ(3) NOT NULL,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "refresh_tokens_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "otp_attempts" (
    "id" UUID NOT NULL,
    "email" TEXT NOT NULL,
    "attempts" INTEGER NOT NULL DEFAULT 1,
    "expiresAt" TIMESTAMPTZ(3) NOT NULL,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "otp_attempts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "engineer_projects" (
    "id" UUID NOT NULL,
    "engineerProfileId" UUID NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "problemSolved" TEXT NOT NULL,
    "techStack" JSONB NOT NULL,
    "demoUrl" TEXT,
    "githubUrl" TEXT,
    "screenshots" TEXT[],
    "performanceMetrics" JSONB,
    "aiModelUsed" TEXT,
    "architectureType" TEXT,
    "featured" BOOLEAN NOT NULL DEFAULT false,
    "displayOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "engineer_projects_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "engineer_experiences" (
    "id" UUID NOT NULL,
    "engineerProfileId" UUID NOT NULL,
    "title" TEXT NOT NULL,
    "company" TEXT NOT NULL,
    "location" TEXT,
    "startDate" TIMESTAMPTZ(3) NOT NULL,
    "endDate" TIMESTAMPTZ(3),
    "current" BOOLEAN NOT NULL DEFAULT false,
    "description" TEXT NOT NULL,
    "achievements" TEXT[],
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "engineer_experiences_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "build_in_public_activities" (
    "id" UUID NOT NULL,
    "engineerProfileId" UUID NOT NULL,
    "content" TEXT NOT NULL,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "build_in_public_activities_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "assessments" (
    "id" UUID NOT NULL,
    "userId" UUID NOT NULL,
    "engineerProfileId" UUID NOT NULL,
    "sessionId" TEXT NOT NULL,
    "sessionToken" TEXT,
    "skillsAssessed" TEXT[],
    "experienceLevel" TEXT NOT NULL,
    "mcqQuestions" JSONB NOT NULL,
    "codingTasks" JSONB NOT NULL,
    "caseScenario" JSONB,
    "mcqResponses" JSONB,
    "codingSubmissions" JSONB,
    "caseResponse" TEXT,
    "mcqScore" INTEGER,
    "codingScore" INTEGER,
    "caseScore" INTEGER,
    "overallScore" INTEGER,
    "modelKnowledge" INTEGER,
    "engineeringDepth" INTEGER,
    "systemDesign" INTEGER,
    "codingQuality" INTEGER,
    "practicalApp" INTEGER,
    "communication" INTEGER,
    "tier" TEXT,
    "proctoringEvents" JSONB,
    "tabSwitches" INTEGER NOT NULL DEFAULT 0,
    "focusLosses" INTEGER NOT NULL DEFAULT 0,
    "pasteAttempts" INTEGER NOT NULL DEFAULT 0,
    "flagged" BOOLEAN NOT NULL DEFAULT false,
    "autoSubmitted" BOOLEAN NOT NULL DEFAULT false,
    "proctoringViolation" BOOLEAN NOT NULL DEFAULT false,
    "plagiarismScore" DOUBLE PRECISION,
    "plagiarismFlagged" BOOLEAN NOT NULL DEFAULT false,
    "reportUrl" TEXT,
    "reportGenerated" BOOLEAN NOT NULL DEFAULT false,
    "skillGapAnalysis" JSONB,
    "improvementRoadmap" JSONB,
    "status" TEXT NOT NULL DEFAULT 'in_progress',
    "startedAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "submittedAt" TIMESTAMPTZ(3),
    "evaluatedAt" TIMESTAMPTZ(3),
    "ipAddress" TEXT,
    "deviceFingerprint" TEXT,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "assessments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "neuron_score_history" (
    "id" UUID NOT NULL,
    "engineerProfileId" UUID NOT NULL,
    "previousScore" INTEGER NOT NULL,
    "newScore" INTEGER NOT NULL,
    "scoreDelta" INTEGER NOT NULL,
    "reason" TEXT NOT NULL,
    "dimension" TEXT,
    "triggeredBy" TEXT,
    "assessment" INTEGER,
    "clientRatings" INTEGER,
    "portfolioDepth" INTEGER,
    "workDelivery" INTEGER,
    "marketplace" INTEGER,
    "community" INTEGER,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "neuron_score_history_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "mini_gate_tests" (
    "id" UUID NOT NULL,
    "engineerProfileId" UUID NOT NULL,
    "taskId" UUID,
    "domain" TEXT NOT NULL,
    "questions" JSONB NOT NULL,
    "responses" JSONB,
    "score" INTEGER,
    "passed" BOOLEAN NOT NULL DEFAULT false,
    "startedAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "submittedAt" TIMESTAMPTZ(3),
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "mini_gate_tests_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tasks" (
    "id" UUID NOT NULL,
    "companyProfileId" UUID NOT NULL,
    "userId" UUID NOT NULL,
    "title" TEXT NOT NULL,
    "type" "TaskType" NOT NULL,
    "category" TEXT[],
    "problemStatement" TEXT NOT NULL,
    "currentState" TEXT,
    "expectedOutcome" TEXT NOT NULL,
    "deliverables" JSONB NOT NULL,
    "techRequirements" TEXT[],
    "timeline" INTEGER NOT NULL,
    "deadline" TIMESTAMPTZ(3),
    "rewardAmount" DECIMAL(12,2) NOT NULL,
    "paymentType" "PaymentType" NOT NULL,
    "currency" TEXT NOT NULL DEFAULT 'INR',
    "selectionCriteria" JSONB NOT NULL,
    "minNeuronScore" INTEGER NOT NULL DEFAULT 0,
    "ndaRequired" BOOLEAN NOT NULL DEFAULT false,
    "difficulty" "TaskDifficulty" NOT NULL,
    "status" "TaskStatus" NOT NULL DEFAULT 'draft',
    "escrowDeposited" BOOLEAN NOT NULL DEFAULT false,
    "escrowId" TEXT,
    "escrowAmount" DECIMAL(12,2),
    "paymentId" TEXT,
    "aiEnriched" BOOLEAN NOT NULL DEFAULT false,
    "estimatedTimeline" INTEGER,
    "suggestedReward" JSONB,
    "vagueDeliverables" TEXT[],
    "recommendedType" "TaskType",
    "autoTaggedSkills" TEXT[],
    "postingQuality" INTEGER,
    "aiSuggestions" JSONB,
    "isContest" BOOLEAN NOT NULL DEFAULT false,
    "contestRanks" JSONB,
    "maxWinners" INTEGER,
    "viewCount" INTEGER NOT NULL DEFAULT 0,
    "participantCount" INTEGER NOT NULL DEFAULT 0,
    "submissionCount" INTEGER NOT NULL DEFAULT 0,
    "publishedAt" TIMESTAMPTZ(3),
    "completedAt" TIMESTAMPTZ(3),
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "tasks_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "task_participations" (
    "id" UUID NOT NULL,
    "taskId" UUID NOT NULL,
    "engineerProfileId" UUID NOT NULL,
    "userId" UUID NOT NULL,
    "approach" TEXT NOT NULL,
    "estimatedTime" INTEGER,
    "proposedRate" DECIMAL(10,2),
    "approved" BOOLEAN NOT NULL DEFAULT false,
    "rejected" BOOLEAN NOT NULL DEFAULT false,
    "rejectionReason" TEXT,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "task_participations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "task_submissions" (
    "id" UUID NOT NULL,
    "taskId" UUID NOT NULL,
    "engineerProfileId" UUID NOT NULL,
    "userId" UUID NOT NULL,
    "description" TEXT NOT NULL,
    "demoUrl" TEXT,
    "githubUrl" TEXT,
    "codeUrl" TEXT,
    "screenshots" TEXT[],
    "videoUrl" TEXT,
    "performanceMetrics" JSONB,
    "architectureDiagram" TEXT,
    "status" "SubmissionStatus" NOT NULL DEFAULT 'pending',
    "score" INTEGER,
    "feedback" TEXT,
    "criteriaScores" JSONB,
    "isWinner" BOOLEAN NOT NULL DEFAULT false,
    "rank" INTEGER,
    "payoutAmount" DECIMAL(12,2),
    "payoutStatus" TEXT,
    "payoutId" TEXT,
    "paidAt" TIMESTAMPTZ(3),
    "submittedAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "reviewedAt" TIMESTAMPTZ(3),
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "task_submissions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "task_questions" (
    "id" UUID NOT NULL,
    "taskId" UUID NOT NULL,
    "userId" UUID NOT NULL,
    "question" TEXT NOT NULL,
    "answer" TEXT,
    "answeredBy" UUID,
    "answeredAt" TIMESTAMPTZ(3),
    "isPublic" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "task_questions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "task_nda_signatures" (
    "id" UUID NOT NULL,
    "taskId" UUID NOT NULL,
    "engineerProfileId" UUID NOT NULL,
    "userId" UUID NOT NULL,
    "ndaPdfUrl" TEXT NOT NULL,
    "signedPdfUrl" TEXT,
    "signature" TEXT,
    "ipAddress" TEXT NOT NULL,
    "signed" BOOLEAN NOT NULL DEFAULT false,
    "signedAt" TIMESTAMPTZ(3),
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "task_nda_signatures_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "products" (
    "id" UUID NOT NULL,
    "engineerProfileId" UUID NOT NULL,
    "userId" UUID NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "tagline" TEXT NOT NULL,
    "category" "ProductCategory" NOT NULL,
    "tags" TEXT[],
    "thumbnailUrl" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "demoUrl" TEXT NOT NULL,
    "screenshots" TEXT[],
    "techStack" JSONB NOT NULL,
    "aiModelUsed" TEXT,
    "architectureType" TEXT,
    "pricingModel" "PricingModel" NOT NULL,
    "priceINR" DECIMAL(12,2),
    "priceUSD" DECIMAL(12,2),
    "features" JSONB NOT NULL,
    "performanceMetrics" JSONB,
    "deliveryType" TEXT NOT NULL,
    "customizationAvailable" BOOLEAN NOT NULL DEFAULT false,
    "supportType" TEXT,
    "supportDuration" TEXT,
    "currentVersion" TEXT NOT NULL DEFAULT '1.0.0',
    "versionHistory" JSONB,
    "status" "ProductStatus" NOT NULL DEFAULT 'draft',
    "moderationStatus" TEXT,
    "moderationNotes" TEXT,
    "moderatedAt" TIMESTAMPTZ(3),
    "viewCount" INTEGER NOT NULL DEFAULT 0,
    "purchaseCount" INTEGER NOT NULL DEFAULT 0,
    "rating" DECIMAL(3,2),
    "reviewCount" INTEGER NOT NULL DEFAULT 0,
    "publishedAt" TIMESTAMPTZ(3),
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "products_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "purchases" (
    "id" UUID NOT NULL,
    "productId" UUID NOT NULL,
    "buyerId" UUID NOT NULL,
    "companyProfileId" UUID,
    "priceINR" DECIMAL(12,2) NOT NULL,
    "priceUSD" DECIMAL(12,2),
    "currency" TEXT NOT NULL DEFAULT 'INR',
    "razorpayOrderId" TEXT,
    "razorpayPaymentId" TEXT,
    "razorpaySignature" TEXT,
    "paymentMethod" TEXT,
    "licenseKey" TEXT NOT NULL,
    "licenseActive" BOOLEAN NOT NULL DEFAULT true,
    "licenseRevokedAt" TIMESTAMPTZ(3),
    "accessGranted" BOOLEAN NOT NULL DEFAULT false,
    "accessDetails" JSONB,
    "status" "PurchaseStatus" NOT NULL DEFAULT 'pending',
    "platformCommission" DECIMAL(12,2),
    "engineerPayout" DECIMAL(12,2),
    "payoutStatus" TEXT,
    "payoutId" TEXT,
    "paidOutAt" TIMESTAMPTZ(3),
    "referralCode" TEXT,
    "referralCommission" DECIMAL(12,2),
    "disputeEligible" BOOLEAN NOT NULL DEFAULT true,
    "disputeDeadline" TIMESTAMPTZ(3) NOT NULL,
    "purchasedAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "purchases_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "subscriptions" (
    "id" UUID NOT NULL,
    "purchaseId" UUID NOT NULL,
    "productId" UUID NOT NULL,
    "buyerId" UUID NOT NULL,
    "razorpaySubscriptionId" TEXT,
    "razorpayPlanId" TEXT,
    "billingCycle" TEXT NOT NULL,
    "nextBillingDate" TIMESTAMPTZ(3) NOT NULL,
    "lastBillingDate" TIMESTAMPTZ(3),
    "status" "SubscriptionStatus" NOT NULL DEFAULT 'active',
    "failedPayments" INTEGER NOT NULL DEFAULT 0,
    "cancelledAt" TIMESTAMPTZ(3),
    "cancellationReason" TEXT,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "subscriptions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "disputes" (
    "id" UUID NOT NULL,
    "purchaseId" UUID NOT NULL,
    "productId" UUID NOT NULL,
    "buyerId" UUID NOT NULL,
    "sellerId" UUID NOT NULL,
    "reason" TEXT NOT NULL,
    "evidence" JSONB,
    "status" "DisputeStatus" NOT NULL DEFAULT 'open',
    "resolution" TEXT,
    "resolvedBy" UUID,
    "resolvedAt" TIMESTAMPTZ(3),
    "refundAmount" DECIMAL(12,2),
    "refundProcessed" BOOLEAN NOT NULL DEFAULT false,
    "refundId" TEXT,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "disputes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "product_reviews" (
    "id" UUID NOT NULL,
    "productId" UUID NOT NULL,
    "purchaseId" UUID NOT NULL,
    "buyerId" UUID NOT NULL,
    "rating" INTEGER NOT NULL,
    "title" TEXT,
    "review" TEXT NOT NULL,
    "pros" TEXT[],
    "cons" TEXT[],
    "verified" BOOLEAN NOT NULL DEFAULT true,
    "helpfulCount" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "product_reviews_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "bundles" (
    "id" UUID NOT NULL,
    "engineerProfileId" UUID NOT NULL,
    "userId" UUID NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "thumbnailUrl" TEXT,
    "originalPrice" DECIMAL(12,2) NOT NULL,
    "bundlePrice" DECIMAL(12,2) NOT NULL,
    "discountPercent" DECIMAL(5,2) NOT NULL,
    "currency" TEXT NOT NULL DEFAULT 'INR',
    "active" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "bundles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "bundle_products" (
    "id" UUID NOT NULL,
    "bundleId" UUID NOT NULL,
    "productId" UUID NOT NULL,
    "displayOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "bundle_products_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "referral_links" (
    "id" UUID NOT NULL,
    "userId" UUID NOT NULL,
    "productId" UUID,
    "referralCode" TEXT NOT NULL,
    "clickCount" INTEGER NOT NULL DEFAULT 0,
    "purchaseCount" INTEGER NOT NULL DEFAULT 0,
    "totalCommission" DECIMAL(12,2) NOT NULL DEFAULT 0,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "referral_links_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "product_analytics" (
    "id" UUID NOT NULL,
    "productId" UUID NOT NULL,
    "date" DATE NOT NULL,
    "views" INTEGER NOT NULL DEFAULT 0,
    "purchases" INTEGER NOT NULL DEFAULT 0,
    "revenue" DECIMAL(12,2) NOT NULL DEFAULT 0,
    "refunds" INTEGER NOT NULL DEFAULT 0,
    "topIndustries" JSONB,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "product_analytics_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "job_postings" (
    "id" UUID NOT NULL,
    "companyProfileId" UUID NOT NULL,
    "userId" UUID NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "hiringMode" "HiringMode" NOT NULL,
    "requiredSkills" TEXT[],
    "experienceLevel" TEXT NOT NULL,
    "budgetMin" DECIMAL(12,2),
    "budgetMax" DECIMAL(12,2),
    "currency" TEXT NOT NULL DEFAULT 'INR',
    "ctcMin" DECIMAL(12,2),
    "ctcMax" DECIMAL(12,2),
    "duration" INTEGER,
    "stipend" DECIMAL(12,2),
    "estimatedHours" INTEGER,
    "isTimeBoxed" BOOLEAN NOT NULL DEFAULT false,
    "endDate" TIMESTAMPTZ(3),
    "projectScope" TEXT,
    "milestones" JSONB,
    "location" TEXT,
    "isRemote" BOOLEAN NOT NULL DEFAULT true,
    "status" TEXT NOT NULL DEFAULT 'open',
    "viewCount" INTEGER NOT NULL DEFAULT 0,
    "applicationCount" INTEGER NOT NULL DEFAULT 0,
    "postedAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "closedAt" TIMESTAMPTZ(3),
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "job_postings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "job_applications" (
    "id" UUID NOT NULL,
    "jobPostingId" UUID NOT NULL,
    "engineerProfileId" UUID NOT NULL,
    "userId" UUID NOT NULL,
    "coverLetter" TEXT NOT NULL,
    "proposedRate" DECIMAL(12,2),
    "availability" TEXT,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "appliedAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "reviewedAt" TIMESTAMPTZ(3),
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "job_applications_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "smart_matches" (
    "id" UUID NOT NULL,
    "jobPostingId" UUID NOT NULL,
    "engineerProfileId" UUID NOT NULL,
    "skillMatchScore" DECIMAL(5,2) NOT NULL,
    "budgetFit" BOOLEAN NOT NULL DEFAULT false,
    "availabilityFit" BOOLEAN NOT NULL DEFAULT false,
    "matchDetails" JSONB NOT NULL,
    "invited" BOOLEAN NOT NULL DEFAULT false,
    "invitedAt" TIMESTAMPTZ(3),
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "smart_matches_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "contracts" (
    "id" UUID NOT NULL,
    "jobPostingId" UUID,
    "companyProfileId" UUID NOT NULL,
    "engineerProfileId" UUID NOT NULL,
    "companyUserId" UUID NOT NULL,
    "engineerUserId" UUID NOT NULL,
    "hiringMode" "HiringMode" NOT NULL,
    "title" TEXT NOT NULL,
    "scope" TEXT NOT NULL,
    "startDate" TIMESTAMPTZ(3) NOT NULL,
    "endDate" TIMESTAMPTZ(3),
    "rate" DECIMAL(12,2) NOT NULL,
    "currency" TEXT NOT NULL DEFAULT 'INR',
    "ctc" DECIMAL(12,2),
    "placementFee" DECIMAL(12,2),
    "placementFeePaid" BOOLEAN NOT NULL DEFAULT false,
    "stipendAmount" DECIMAL(12,2),
    "durationMonths" INTEGER,
    "hourlyRate" DECIMAL(10,2),
    "estimatedHours" INTEGER,
    "walletBalance" DECIMAL(12,2),
    "totalAmount" DECIMAL(12,2),
    "milestones" JSONB,
    "ipOwnership" TEXT NOT NULL DEFAULT 'company',
    "ndaRequired" BOOLEAN NOT NULL DEFAULT true,
    "confidentialityTerms" TEXT,
    "trialMode" BOOLEAN NOT NULL DEFAULT false,
    "trialCompleted" BOOLEAN NOT NULL DEFAULT false,
    "trialExtended" BOOLEAN NOT NULL DEFAULT false,
    "status" "ContractStatus" NOT NULL DEFAULT 'draft',
    "contractPdfUrl" TEXT,
    "companySigned" BOOLEAN NOT NULL DEFAULT false,
    "companySignature" TEXT,
    "companySignedAt" TIMESTAMPTZ(3),
    "companySignIp" TEXT,
    "engineerSigned" BOOLEAN NOT NULL DEFAULT false,
    "engineerSignature" TEXT,
    "engineerSignedAt" TIMESTAMPTZ(3),
    "engineerSignIp" TEXT,
    "finalContractUrl" TEXT,
    "amendmentCount" INTEGER NOT NULL DEFAULT 0,
    "lastAmendedAt" TIMESTAMPTZ(3),
    "activatedAt" TIMESTAMPTZ(3),
    "completedAt" TIMESTAMPTZ(3),
    "terminatedAt" TIMESTAMPTZ(3),
    "terminationReason" TEXT,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "contracts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "time_entries" (
    "id" UUID NOT NULL,
    "contractId" UUID NOT NULL,
    "engineerProfileId" UUID NOT NULL,
    "date" DATE NOT NULL,
    "hoursLogged" DECIMAL(5,2) NOT NULL,
    "description" TEXT NOT NULL,
    "approved" BOOLEAN NOT NULL DEFAULT false,
    "approvedAt" TIMESTAMPTZ(3),
    "approvedBy" UUID,
    "billed" BOOLEAN NOT NULL DEFAULT false,
    "billedAt" TIMESTAMPTZ(3),
    "billingAmount" DECIMAL(10,2),
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "time_entries_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "milestone_payments" (
    "id" UUID NOT NULL,
    "contractId" UUID NOT NULL,
    "milestoneNumber" INTEGER NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "amount" DECIMAL(12,2) NOT NULL,
    "status" "MilestoneStatus" NOT NULL DEFAULT 'pending',
    "dueDate" TIMESTAMPTZ(3),
    "submittedAt" TIMESTAMPTZ(3),
    "approvedAt" TIMESTAMPTZ(3),
    "paidAt" TIMESTAMPTZ(3),
    "deliverables" JSONB,
    "submissionNotes" TEXT,
    "approvalNotes" TEXT,
    "escrowId" TEXT,
    "payoutId" TEXT,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "milestone_payments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "contract_amendments" (
    "id" UUID NOT NULL,
    "contractId" UUID NOT NULL,
    "amendmentNumber" INTEGER NOT NULL,
    "reason" TEXT NOT NULL,
    "changes" JSONB NOT NULL,
    "amendmentPdfUrl" TEXT,
    "companySigned" BOOLEAN NOT NULL DEFAULT false,
    "companySignedAt" TIMESTAMPTZ(3),
    "engineerSigned" BOOLEAN NOT NULL DEFAULT false,
    "engineerSignedAt" TIMESTAMPTZ(3),
    "finalPdfUrl" TEXT,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "contract_amendments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "availability_slots" (
    "id" UUID NOT NULL,
    "engineerProfileId" UUID NOT NULL,
    "startTime" TIMESTAMPTZ(3) NOT NULL,
    "endTime" TIMESTAMPTZ(3) NOT NULL,
    "booked" BOOLEAN NOT NULL DEFAULT false,
    "bookedBy" UUID,
    "meetingLink" TEXT,
    "meetingNotes" TEXT,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "availability_slots_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "message_requests" (
    "id" UUID NOT NULL,
    "fromUserId" UUID NOT NULL,
    "toUserId" UUID NOT NULL,
    "message" TEXT NOT NULL,
    "status" "MessageRequestStatus" NOT NULL DEFAULT 'pending',
    "respondedAt" TIMESTAMPTZ(3),
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "message_requests_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "conversations" (
    "id" UUID NOT NULL,
    "participant1Id" UUID NOT NULL,
    "participant2Id" UUID NOT NULL,
    "lastMessageAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "conversations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "messages" (
    "id" UUID NOT NULL,
    "conversationId" UUID NOT NULL,
    "senderId" UUID NOT NULL,
    "content" TEXT NOT NULL,
    "fileUrl" TEXT,
    "fileName" TEXT,
    "fileSize" INTEGER,
    "flagged" BOOLEAN NOT NULL DEFAULT false,
    "flagReason" TEXT,
    "readAt" TIMESTAMPTZ(3),
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "messages_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "project_chat_rooms" (
    "id" UUID NOT NULL,
    "contractId" UUID NOT NULL,
    "name" TEXT NOT NULL,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "project_chat_rooms_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "project_chat_participants" (
    "id" UUID NOT NULL,
    "roomId" UUID NOT NULL,
    "userId" UUID NOT NULL,
    "role" TEXT NOT NULL,
    "joinedAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "project_chat_participants_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "project_chat_messages" (
    "id" UUID NOT NULL,
    "roomId" UUID NOT NULL,
    "senderId" UUID NOT NULL,
    "content" TEXT NOT NULL,
    "fileUrl" TEXT,
    "fileName" TEXT,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "project_chat_messages_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "off_platform_violations" (
    "id" UUID NOT NULL,
    "userId" UUID NOT NULL,
    "violationType" TEXT NOT NULL,
    "detectedContent" TEXT NOT NULL,
    "messageId" UUID,
    "level" "OffPlatformViolationLevel" NOT NULL DEFAULT 'warning',
    "warningIssued" BOOLEAN NOT NULL DEFAULT false,
    "warningIssuedAt" TIMESTAMPTZ(3),
    "reviewRequired" BOOLEAN NOT NULL DEFAULT false,
    "reviewedAt" TIMESTAMPTZ(3),
    "reviewedBy" UUID,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "off_platform_violations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "engineer_analytics" (
    "id" UUID NOT NULL,
    "engineerProfileId" UUID NOT NULL,
    "date" DATE NOT NULL,
    "profileViews" INTEGER NOT NULL DEFAULT 0,
    "proposalsSent" INTEGER NOT NULL DEFAULT 0,
    "proposalsAccepted" INTEGER NOT NULL DEFAULT 0,
    "earnings" DECIMAL(12,2) NOT NULL DEFAULT 0,
    "topKeywords" JSONB,
    "topSkills" JSONB,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "engineer_analytics_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "company_analytics" (
    "id" UUID NOT NULL,
    "companyProfileId" UUID NOT NULL,
    "date" DATE NOT NULL,
    "jobsPosted" INTEGER NOT NULL DEFAULT 0,
    "applicationsReceived" INTEGER NOT NULL DEFAULT 0,
    "hiresMade" INTEGER NOT NULL DEFAULT 0,
    "avgTimeToHire" DECIMAL(10,2),
    "totalSpent" DECIMAL(12,2) NOT NULL DEFAULT 0,
    "engineerPerformance" JSONB,
    "marketRateBenchmark" JSONB,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "company_analytics_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "payments" (
    "id" UUID NOT NULL,
    "userId" UUID NOT NULL,
    "type" "EscrowPaymentType" NOT NULL,
    "status" "EscrowPaymentStatus" NOT NULL DEFAULT 'pending',
    "amount" DECIMAL(12,2) NOT NULL,
    "currency" TEXT NOT NULL DEFAULT 'INR',
    "platformFee" DECIMAL(12,2),
    "gstAmount" DECIMAL(12,2),
    "netAmount" DECIMAL(12,2),
    "razorpayOrderId" TEXT,
    "razorpayPaymentId" TEXT,
    "razorpaySignature" TEXT,
    "contractId" UUID,
    "taskId" UUID,
    "milestoneId" UUID,
    "productId" UUID,
    "purchaseId" UUID,
    "description" TEXT,
    "metadata" JSONB,
    "idempotencyKey" TEXT,
    "processedAt" TIMESTAMPTZ(3),
    "completedAt" TIMESTAMPTZ(3),
    "failedAt" TIMESTAMPTZ(3),
    "failureReason" TEXT,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,
    "deletedAt" TIMESTAMPTZ(3),

    CONSTRAINT "payments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "escrow_accounts" (
    "id" UUID NOT NULL,
    "contractId" UUID,
    "taskId" UUID,
    "totalAmount" DECIMAL(12,2) NOT NULL,
    "lockedAmount" DECIMAL(12,2) NOT NULL,
    "releasedAmount" DECIMAL(12,2) NOT NULL DEFAULT 0,
    "refundedAmount" DECIMAL(12,2) NOT NULL DEFAULT 0,
    "currency" TEXT NOT NULL DEFAULT 'INR',
    "funded" BOOLEAN NOT NULL DEFAULT false,
    "fundedAt" TIMESTAMPTZ(3),
    "razorpayAccountId" TEXT,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "escrow_accounts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "escrow_releases" (
    "id" UUID NOT NULL,
    "escrowAccountId" UUID NOT NULL,
    "paymentId" UUID NOT NULL,
    "amount" DECIMAL(12,2) NOT NULL,
    "recipientUserId" UUID NOT NULL,
    "triggeredBy" TEXT NOT NULL,
    "approvedBy" UUID,
    "autoApproveAt" TIMESTAMPTZ(3),
    "autoApproved" BOOLEAN NOT NULL DEFAULT false,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "processedAt" TIMESTAMPTZ(3),
    "completedAt" TIMESTAMPTZ(3),
    "idempotencyKey" TEXT NOT NULL,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "escrow_releases_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "payouts" (
    "id" UUID NOT NULL,
    "userId" UUID NOT NULL,
    "engineerProfileId" UUID NOT NULL,
    "amount" DECIMAL(12,2) NOT NULL,
    "currency" TEXT NOT NULL DEFAULT 'INR',
    "method" "PayoutMethod" NOT NULL,
    "upiId" TEXT,
    "accountNumber" TEXT,
    "ifscCode" TEXT,
    "accountHolderName" TEXT,
    "razorpayPayoutId" TEXT,
    "razorpayFundAccountId" TEXT,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "kycRequired" BOOLEAN NOT NULL DEFAULT false,
    "kycVerified" BOOLEAN NOT NULL DEFAULT false,
    "requestedAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "processedAt" TIMESTAMPTZ(3),
    "completedAt" TIMESTAMPTZ(3),
    "failedAt" TIMESTAMPTZ(3),
    "failureReason" TEXT,
    "utr" TEXT,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "payouts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "wallets" (
    "id" UUID NOT NULL,
    "userId" UUID NOT NULL,
    "balance" DECIMAL(12,2) NOT NULL DEFAULT 0,
    "currency" TEXT NOT NULL DEFAULT 'INR',
    "totalEarned" DECIMAL(12,2) NOT NULL DEFAULT 0,
    "totalWithdrawn" DECIMAL(12,2) NOT NULL DEFAULT 0,
    "currentMonthWithdrawn" DECIMAL(12,2) NOT NULL DEFAULT 0,
    "lastWithdrawalMonth" TEXT,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "wallets_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "wallet_transactions" (
    "id" UUID NOT NULL,
    "walletId" UUID NOT NULL,
    "type" TEXT NOT NULL,
    "amount" DECIMAL(12,2) NOT NULL,
    "balanceBefore" DECIMAL(12,2) NOT NULL,
    "balanceAfter" DECIMAL(12,2) NOT NULL,
    "description" TEXT NOT NULL,
    "paymentId" UUID,
    "payoutId" UUID,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "wallet_transactions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "kyc_verifications" (
    "id" UUID NOT NULL,
    "userId" UUID NOT NULL,
    "engineerProfileId" UUID NOT NULL,
    "status" "KYCStatus" NOT NULL DEFAULT 'not_started',
    "aadhaarNumber" TEXT,
    "aadhaarVerified" BOOLEAN NOT NULL DEFAULT false,
    "aadhaarDocUrl" TEXT,
    "panNumber" TEXT,
    "panVerified" BOOLEAN NOT NULL DEFAULT false,
    "panDocUrl" TEXT,
    "digioRequestId" TEXT,
    "digioStatus" TEXT,
    "verifiedAt" TIMESTAMPTZ(3),
    "verifiedBy" UUID,
    "rejectedAt" TIMESTAMPTZ(3),
    "rejectionReason" TEXT,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "kyc_verifications_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "platform_subscriptions" (
    "id" UUID NOT NULL,
    "userId" UUID NOT NULL,
    "tier" "SubscriptionTier" NOT NULL,
    "amount" DECIMAL(10,2) NOT NULL,
    "currency" TEXT NOT NULL DEFAULT 'INR',
    "billingCycle" TEXT NOT NULL,
    "razorpaySubscriptionId" TEXT,
    "razorpayPlanId" TEXT,
    "status" TEXT NOT NULL DEFAULT 'active',
    "currentPeriodStart" TIMESTAMPTZ(3) NOT NULL,
    "currentPeriodEnd" TIMESTAMPTZ(3) NOT NULL,
    "nextBillingDate" TIMESTAMPTZ(3),
    "cancelledAt" TIMESTAMPTZ(3),
    "cancellationReason" TEXT,
    "cancelAtPeriodEnd" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "platform_subscriptions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "invoices" (
    "id" UUID NOT NULL,
    "paymentId" UUID NOT NULL,
    "invoiceNumber" TEXT NOT NULL,
    "fromName" TEXT NOT NULL,
    "fromAddress" TEXT,
    "fromGstin" TEXT,
    "toName" TEXT NOT NULL,
    "toAddress" TEXT,
    "toGstin" TEXT,
    "subtotal" DECIMAL(12,2) NOT NULL,
    "gstRate" DECIMAL(5,2) NOT NULL,
    "gstAmount" DECIMAL(12,2) NOT NULL,
    "total" DECIMAL(12,2) NOT NULL,
    "currency" TEXT NOT NULL DEFAULT 'INR',
    "lineItems" JSONB NOT NULL,
    "invoiceDate" TIMESTAMPTZ(3) NOT NULL,
    "dueDate" TIMESTAMPTZ(3),
    "pdfUrl" TEXT,
    "clearTaxId" TEXT,
    "clearTaxStatus" TEXT,
    "emailSent" BOOLEAN NOT NULL DEFAULT false,
    "emailSentAt" TIMESTAMPTZ(3),
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,
    "deletedAt" TIMESTAMPTZ(3),

    CONSTRAINT "invoices_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "contract_disputes" (
    "id" UUID NOT NULL,
    "contractId" UUID NOT NULL,
    "raisedBy" UUID NOT NULL,
    "againstUserId" UUID NOT NULL,
    "reason" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "evidence" JSONB,
    "status" "ContractDisputeStatus" NOT NULL DEFAULT 'pending',
    "aiAuditSummary" TEXT,
    "aiRecommendation" JSONB,
    "resolvedBy" UUID,
    "resolution" TEXT,
    "engineerAmount" DECIMAL(12,2),
    "companyRefund" DECIMAL(12,2),
    "raisedAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "reviewStartedAt" TIMESTAMPTZ(3),
    "resolvedAt" TIMESTAMPTZ(3),
    "reviewDeadline" TIMESTAMPTZ(3) NOT NULL,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "contract_disputes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "webhook_events" (
    "id" UUID NOT NULL,
    "provider" TEXT NOT NULL,
    "eventType" TEXT NOT NULL,
    "payload" JSONB NOT NULL,
    "signature" TEXT,
    "verified" BOOLEAN NOT NULL DEFAULT false,
    "processed" BOOLEAN NOT NULL DEFAULT false,
    "idempotencyKey" TEXT NOT NULL,
    "processedAt" TIMESTAMPTZ(3),
    "failedAt" TIMESTAMPTZ(3),
    "failureReason" TEXT,
    "retryCount" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "webhook_events_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "user_consents" (
    "id" UUID NOT NULL,
    "userId" UUID NOT NULL,
    "consentType" "ConsentType" NOT NULL,
    "granted" BOOLEAN NOT NULL,
    "ipAddress" TEXT NOT NULL,
    "userAgent" TEXT NOT NULL,
    "timestamp" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "user_consents_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "account_deletion_requests" (
    "id" UUID NOT NULL,
    "userId" UUID NOT NULL,
    "reason" TEXT,
    "requestedAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "scheduledFor" TIMESTAMPTZ(3) NOT NULL,
    "processedAt" TIMESTAMPTZ(3),
    "status" "DeletionStatus" NOT NULL DEFAULT 'pending',

    CONSTRAINT "account_deletion_requests_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "privacy_policy_acceptances" (
    "id" UUID NOT NULL,
    "userId" UUID NOT NULL,
    "version" TEXT NOT NULL,
    "ipAddress" TEXT NOT NULL,
    "userAgent" TEXT NOT NULL,
    "acceptedAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "privacy_policy_acceptances_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "security_logs" (
    "id" UUID NOT NULL,
    "event" TEXT NOT NULL,
    "userId" UUID,
    "ip" TEXT NOT NULL,
    "userAgent" TEXT,
    "details" JSONB,
    "timestamp" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "security_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "audit_logs" (
    "id" UUID NOT NULL,
    "action" TEXT NOT NULL,
    "entity" TEXT NOT NULL,
    "entityId" UUID NOT NULL,
    "userId" UUID,
    "before" JSONB,
    "after" JSONB,
    "ip" TEXT NOT NULL,
    "userAgent" TEXT,
    "timestamp" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "audit_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "health_checks" (
    "id" UUID NOT NULL,
    "service" TEXT NOT NULL,
    "status" TEXT NOT NULL,
    "responseTime" INTEGER,
    "errorMessage" TEXT,
    "timestamp" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "health_checks_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "users_clerkId_key" ON "users"("clerkId");

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE INDEX "users_email_idx" ON "users"("email");

-- CreateIndex
CREATE INDEX "users_clerkId_idx" ON "users"("clerkId");

-- CreateIndex
CREATE UNIQUE INDEX "engineer_profiles_userId_key" ON "engineer_profiles"("userId");

-- CreateIndex
CREATE INDEX "engineer_profiles_userId_idx" ON "engineer_profiles"("userId");

-- CreateIndex
CREATE INDEX "engineer_profiles_availabilityStatus_idx" ON "engineer_profiles"("availabilityStatus");

-- CreateIndex
CREATE INDEX "engineer_profiles_neuronScore_idx" ON "engineer_profiles"("neuronScore");

-- CreateIndex
CREATE INDEX "engineer_profiles_neuronTier_idx" ON "engineer_profiles"("neuronTier");

-- CreateIndex
CREATE INDEX "engineer_profiles_completenessScore_idx" ON "engineer_profiles"("completenessScore");

-- CreateIndex
CREATE INDEX "engineer_profiles_hourlyRate_idx" ON "engineer_profiles"("hourlyRate");

-- CreateIndex
CREATE INDEX "engineer_profiles_location_idx" ON "engineer_profiles"("location");

-- CreateIndex
CREATE INDEX "engineer_profiles_lastActivityAt_idx" ON "engineer_profiles"("lastActivityAt");

-- CreateIndex
CREATE UNIQUE INDEX "company_profiles_userId_key" ON "company_profiles"("userId");

-- CreateIndex
CREATE INDEX "company_profiles_userId_idx" ON "company_profiles"("userId");

-- CreateIndex
CREATE INDEX "company_profiles_isHiring_idx" ON "company_profiles"("isHiring");

-- CreateIndex
CREATE INDEX "company_profiles_trustScore_idx" ON "company_profiles"("trustScore");

-- CreateIndex
CREATE INDEX "company_profiles_industry_idx" ON "company_profiles"("industry");

-- CreateIndex
CREATE INDEX "engineer_skills_engineerProfileId_idx" ON "engineer_skills"("engineerProfileId");

-- CreateIndex
CREATE INDEX "engineer_skills_skillName_idx" ON "engineer_skills"("skillName");

-- CreateIndex
CREATE INDEX "engineer_skills_proficiencyLevel_idx" ON "engineer_skills"("proficiencyLevel");

-- CreateIndex
CREATE UNIQUE INDEX "refresh_tokens_token_key" ON "refresh_tokens"("token");

-- CreateIndex
CREATE INDEX "refresh_tokens_userId_idx" ON "refresh_tokens"("userId");

-- CreateIndex
CREATE INDEX "refresh_tokens_token_idx" ON "refresh_tokens"("token");

-- CreateIndex
CREATE INDEX "refresh_tokens_expiresAt_idx" ON "refresh_tokens"("expiresAt");

-- CreateIndex
CREATE INDEX "otp_attempts_email_expiresAt_idx" ON "otp_attempts"("email", "expiresAt");

-- CreateIndex
CREATE INDEX "engineer_projects_engineerProfileId_idx" ON "engineer_projects"("engineerProfileId");

-- CreateIndex
CREATE INDEX "engineer_projects_featured_idx" ON "engineer_projects"("featured");

-- CreateIndex
CREATE INDEX "engineer_experiences_engineerProfileId_idx" ON "engineer_experiences"("engineerProfileId");

-- CreateIndex
CREATE INDEX "build_in_public_activities_engineerProfileId_idx" ON "build_in_public_activities"("engineerProfileId");

-- CreateIndex
CREATE INDEX "build_in_public_activities_createdAt_idx" ON "build_in_public_activities"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "assessments_sessionId_key" ON "assessments"("sessionId");

-- CreateIndex
CREATE UNIQUE INDEX "assessments_sessionToken_key" ON "assessments"("sessionToken");

-- CreateIndex
CREATE INDEX "assessments_userId_idx" ON "assessments"("userId");

-- CreateIndex
CREATE INDEX "assessments_engineerProfileId_idx" ON "assessments"("engineerProfileId");

-- CreateIndex
CREATE INDEX "assessments_sessionId_idx" ON "assessments"("sessionId");

-- CreateIndex
CREATE INDEX "assessments_status_idx" ON "assessments"("status");

-- CreateIndex
CREATE INDEX "assessments_tier_idx" ON "assessments"("tier");

-- CreateIndex
CREATE INDEX "neuron_score_history_engineerProfileId_idx" ON "neuron_score_history"("engineerProfileId");

-- CreateIndex
CREATE INDEX "neuron_score_history_createdAt_idx" ON "neuron_score_history"("createdAt");

-- CreateIndex
CREATE INDEX "mini_gate_tests_engineerProfileId_idx" ON "mini_gate_tests"("engineerProfileId");

-- CreateIndex
CREATE INDEX "mini_gate_tests_taskId_idx" ON "mini_gate_tests"("taskId");

-- CreateIndex
CREATE INDEX "tasks_companyProfileId_idx" ON "tasks"("companyProfileId");

-- CreateIndex
CREATE INDEX "tasks_userId_idx" ON "tasks"("userId");

-- CreateIndex
CREATE INDEX "tasks_status_idx" ON "tasks"("status");

-- CreateIndex
CREATE INDEX "tasks_type_idx" ON "tasks"("type");

-- CreateIndex
CREATE INDEX "tasks_difficulty_idx" ON "tasks"("difficulty");

-- CreateIndex
CREATE INDEX "tasks_minNeuronScore_idx" ON "tasks"("minNeuronScore");

-- CreateIndex
CREATE INDEX "tasks_publishedAt_idx" ON "tasks"("publishedAt");

-- CreateIndex
CREATE INDEX "tasks_deadline_idx" ON "tasks"("deadline");

-- CreateIndex
CREATE INDEX "task_participations_taskId_idx" ON "task_participations"("taskId");

-- CreateIndex
CREATE INDEX "task_participations_engineerProfileId_idx" ON "task_participations"("engineerProfileId");

-- CreateIndex
CREATE UNIQUE INDEX "task_participations_taskId_engineerProfileId_key" ON "task_participations"("taskId", "engineerProfileId");

-- CreateIndex
CREATE INDEX "task_submissions_taskId_idx" ON "task_submissions"("taskId");

-- CreateIndex
CREATE INDEX "task_submissions_engineerProfileId_idx" ON "task_submissions"("engineerProfileId");

-- CreateIndex
CREATE INDEX "task_submissions_status_idx" ON "task_submissions"("status");

-- CreateIndex
CREATE INDEX "task_submissions_isWinner_idx" ON "task_submissions"("isWinner");

-- CreateIndex
CREATE INDEX "task_questions_taskId_idx" ON "task_questions"("taskId");

-- CreateIndex
CREATE INDEX "task_questions_userId_idx" ON "task_questions"("userId");

-- CreateIndex
CREATE INDEX "task_nda_signatures_taskId_idx" ON "task_nda_signatures"("taskId");

-- CreateIndex
CREATE INDEX "task_nda_signatures_engineerProfileId_idx" ON "task_nda_signatures"("engineerProfileId");

-- CreateIndex
CREATE UNIQUE INDEX "task_nda_signatures_taskId_engineerProfileId_key" ON "task_nda_signatures"("taskId", "engineerProfileId");

-- CreateIndex
CREATE UNIQUE INDEX "products_slug_key" ON "products"("slug");

-- CreateIndex
CREATE INDEX "products_engineerProfileId_idx" ON "products"("engineerProfileId");

-- CreateIndex
CREATE INDEX "products_userId_idx" ON "products"("userId");

-- CreateIndex
CREATE INDEX "products_category_idx" ON "products"("category");

-- CreateIndex
CREATE INDEX "products_status_idx" ON "products"("status");

-- CreateIndex
CREATE INDEX "products_slug_idx" ON "products"("slug");

-- CreateIndex
CREATE INDEX "products_publishedAt_idx" ON "products"("publishedAt");

-- CreateIndex
CREATE INDEX "products_rating_idx" ON "products"("rating");

-- CreateIndex
CREATE UNIQUE INDEX "purchases_licenseKey_key" ON "purchases"("licenseKey");

-- CreateIndex
CREATE INDEX "purchases_productId_idx" ON "purchases"("productId");

-- CreateIndex
CREATE INDEX "purchases_buyerId_idx" ON "purchases"("buyerId");

-- CreateIndex
CREATE INDEX "purchases_companyProfileId_idx" ON "purchases"("companyProfileId");

-- CreateIndex
CREATE INDEX "purchases_licenseKey_idx" ON "purchases"("licenseKey");

-- CreateIndex
CREATE INDEX "purchases_status_idx" ON "purchases"("status");

-- CreateIndex
CREATE INDEX "purchases_referralCode_idx" ON "purchases"("referralCode");

-- CreateIndex
CREATE UNIQUE INDEX "subscriptions_purchaseId_key" ON "subscriptions"("purchaseId");

-- CreateIndex
CREATE UNIQUE INDEX "subscriptions_razorpaySubscriptionId_key" ON "subscriptions"("razorpaySubscriptionId");

-- CreateIndex
CREATE INDEX "subscriptions_productId_idx" ON "subscriptions"("productId");

-- CreateIndex
CREATE INDEX "subscriptions_buyerId_idx" ON "subscriptions"("buyerId");

-- CreateIndex
CREATE INDEX "subscriptions_status_idx" ON "subscriptions"("status");

-- CreateIndex
CREATE INDEX "subscriptions_nextBillingDate_idx" ON "subscriptions"("nextBillingDate");

-- CreateIndex
CREATE UNIQUE INDEX "disputes_purchaseId_key" ON "disputes"("purchaseId");

-- CreateIndex
CREATE INDEX "disputes_productId_idx" ON "disputes"("productId");

-- CreateIndex
CREATE INDEX "disputes_buyerId_idx" ON "disputes"("buyerId");

-- CreateIndex
CREATE INDEX "disputes_sellerId_idx" ON "disputes"("sellerId");

-- CreateIndex
CREATE INDEX "disputes_status_idx" ON "disputes"("status");

-- CreateIndex
CREATE INDEX "product_reviews_productId_idx" ON "product_reviews"("productId");

-- CreateIndex
CREATE INDEX "product_reviews_buyerId_idx" ON "product_reviews"("buyerId");

-- CreateIndex
CREATE INDEX "product_reviews_rating_idx" ON "product_reviews"("rating");

-- CreateIndex
CREATE UNIQUE INDEX "product_reviews_purchaseId_key" ON "product_reviews"("purchaseId");

-- CreateIndex
CREATE INDEX "bundles_engineerProfileId_idx" ON "bundles"("engineerProfileId");

-- CreateIndex
CREATE INDEX "bundles_userId_idx" ON "bundles"("userId");

-- CreateIndex
CREATE INDEX "bundles_active_idx" ON "bundles"("active");

-- CreateIndex
CREATE INDEX "bundle_products_bundleId_idx" ON "bundle_products"("bundleId");

-- CreateIndex
CREATE INDEX "bundle_products_productId_idx" ON "bundle_products"("productId");

-- CreateIndex
CREATE UNIQUE INDEX "bundle_products_bundleId_productId_key" ON "bundle_products"("bundleId", "productId");

-- CreateIndex
CREATE UNIQUE INDEX "referral_links_referralCode_key" ON "referral_links"("referralCode");

-- CreateIndex
CREATE INDEX "referral_links_userId_idx" ON "referral_links"("userId");

-- CreateIndex
CREATE INDEX "referral_links_productId_idx" ON "referral_links"("productId");

-- CreateIndex
CREATE INDEX "referral_links_referralCode_idx" ON "referral_links"("referralCode");

-- CreateIndex
CREATE INDEX "product_analytics_productId_idx" ON "product_analytics"("productId");

-- CreateIndex
CREATE INDEX "product_analytics_date_idx" ON "product_analytics"("date");

-- CreateIndex
CREATE UNIQUE INDEX "product_analytics_productId_date_key" ON "product_analytics"("productId", "date");

-- CreateIndex
CREATE INDEX "job_postings_companyProfileId_idx" ON "job_postings"("companyProfileId");

-- CreateIndex
CREATE INDEX "job_postings_userId_idx" ON "job_postings"("userId");

-- CreateIndex
CREATE INDEX "job_postings_hiringMode_idx" ON "job_postings"("hiringMode");

-- CreateIndex
CREATE INDEX "job_postings_status_idx" ON "job_postings"("status");

-- CreateIndex
CREATE INDEX "job_postings_postedAt_idx" ON "job_postings"("postedAt");

-- CreateIndex
CREATE INDEX "job_applications_jobPostingId_idx" ON "job_applications"("jobPostingId");

-- CreateIndex
CREATE INDEX "job_applications_engineerProfileId_idx" ON "job_applications"("engineerProfileId");

-- CreateIndex
CREATE INDEX "job_applications_status_idx" ON "job_applications"("status");

-- CreateIndex
CREATE INDEX "smart_matches_jobPostingId_idx" ON "smart_matches"("jobPostingId");

-- CreateIndex
CREATE INDEX "smart_matches_engineerProfileId_idx" ON "smart_matches"("engineerProfileId");

-- CreateIndex
CREATE INDEX "smart_matches_skillMatchScore_idx" ON "smart_matches"("skillMatchScore");

-- CreateIndex
CREATE UNIQUE INDEX "smart_matches_jobPostingId_engineerProfileId_key" ON "smart_matches"("jobPostingId", "engineerProfileId");

-- CreateIndex
CREATE INDEX "contracts_companyProfileId_idx" ON "contracts"("companyProfileId");

-- CreateIndex
CREATE INDEX "contracts_engineerProfileId_idx" ON "contracts"("engineerProfileId");

-- CreateIndex
CREATE INDEX "contracts_hiringMode_idx" ON "contracts"("hiringMode");

-- CreateIndex
CREATE INDEX "contracts_status_idx" ON "contracts"("status");

-- CreateIndex
CREATE INDEX "contracts_startDate_idx" ON "contracts"("startDate");

-- CreateIndex
CREATE INDEX "time_entries_contractId_idx" ON "time_entries"("contractId");

-- CreateIndex
CREATE INDEX "time_entries_engineerProfileId_idx" ON "time_entries"("engineerProfileId");

-- CreateIndex
CREATE INDEX "time_entries_date_idx" ON "time_entries"("date");

-- CreateIndex
CREATE INDEX "time_entries_billed_idx" ON "time_entries"("billed");

-- CreateIndex
CREATE INDEX "milestone_payments_contractId_idx" ON "milestone_payments"("contractId");

-- CreateIndex
CREATE INDEX "milestone_payments_status_idx" ON "milestone_payments"("status");

-- CreateIndex
CREATE INDEX "contract_amendments_contractId_idx" ON "contract_amendments"("contractId");

-- CreateIndex
CREATE INDEX "availability_slots_engineerProfileId_idx" ON "availability_slots"("engineerProfileId");

-- CreateIndex
CREATE INDEX "availability_slots_startTime_idx" ON "availability_slots"("startTime");

-- CreateIndex
CREATE INDEX "availability_slots_booked_idx" ON "availability_slots"("booked");

-- CreateIndex
CREATE INDEX "message_requests_toUserId_idx" ON "message_requests"("toUserId");

-- CreateIndex
CREATE INDEX "message_requests_status_idx" ON "message_requests"("status");

-- CreateIndex
CREATE UNIQUE INDEX "message_requests_fromUserId_toUserId_key" ON "message_requests"("fromUserId", "toUserId");

-- CreateIndex
CREATE INDEX "conversations_participant1Id_idx" ON "conversations"("participant1Id");

-- CreateIndex
CREATE INDEX "conversations_participant2Id_idx" ON "conversations"("participant2Id");

-- CreateIndex
CREATE INDEX "conversations_lastMessageAt_idx" ON "conversations"("lastMessageAt");

-- CreateIndex
CREATE UNIQUE INDEX "conversations_participant1Id_participant2Id_key" ON "conversations"("participant1Id", "participant2Id");

-- CreateIndex
CREATE INDEX "messages_conversationId_idx" ON "messages"("conversationId");

-- CreateIndex
CREATE INDEX "messages_senderId_idx" ON "messages"("senderId");

-- CreateIndex
CREATE INDEX "messages_createdAt_idx" ON "messages"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "project_chat_rooms_contractId_key" ON "project_chat_rooms"("contractId");

-- CreateIndex
CREATE INDEX "project_chat_rooms_contractId_idx" ON "project_chat_rooms"("contractId");

-- CreateIndex
CREATE INDEX "project_chat_participants_roomId_idx" ON "project_chat_participants"("roomId");

-- CreateIndex
CREATE INDEX "project_chat_participants_userId_idx" ON "project_chat_participants"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "project_chat_participants_roomId_userId_key" ON "project_chat_participants"("roomId", "userId");

-- CreateIndex
CREATE INDEX "project_chat_messages_roomId_idx" ON "project_chat_messages"("roomId");

-- CreateIndex
CREATE INDEX "project_chat_messages_createdAt_idx" ON "project_chat_messages"("createdAt");

-- CreateIndex
CREATE INDEX "off_platform_violations_userId_idx" ON "off_platform_violations"("userId");

-- CreateIndex
CREATE INDEX "off_platform_violations_level_idx" ON "off_platform_violations"("level");

-- CreateIndex
CREATE INDEX "engineer_analytics_engineerProfileId_idx" ON "engineer_analytics"("engineerProfileId");

-- CreateIndex
CREATE INDEX "engineer_analytics_date_idx" ON "engineer_analytics"("date");

-- CreateIndex
CREATE UNIQUE INDEX "engineer_analytics_engineerProfileId_date_key" ON "engineer_analytics"("engineerProfileId", "date");

-- CreateIndex
CREATE INDEX "company_analytics_companyProfileId_idx" ON "company_analytics"("companyProfileId");

-- CreateIndex
CREATE INDEX "company_analytics_date_idx" ON "company_analytics"("date");

-- CreateIndex
CREATE UNIQUE INDEX "company_analytics_companyProfileId_date_key" ON "company_analytics"("companyProfileId", "date");

-- CreateIndex
CREATE UNIQUE INDEX "payments_razorpayOrderId_key" ON "payments"("razorpayOrderId");

-- CreateIndex
CREATE UNIQUE INDEX "payments_razorpayPaymentId_key" ON "payments"("razorpayPaymentId");

-- CreateIndex
CREATE UNIQUE INDEX "payments_idempotencyKey_key" ON "payments"("idempotencyKey");

-- CreateIndex
CREATE INDEX "payments_userId_idx" ON "payments"("userId");

-- CreateIndex
CREATE INDEX "payments_type_idx" ON "payments"("type");

-- CreateIndex
CREATE INDEX "payments_status_idx" ON "payments"("status");

-- CreateIndex
CREATE INDEX "payments_contractId_idx" ON "payments"("contractId");

-- CreateIndex
CREATE INDEX "payments_taskId_idx" ON "payments"("taskId");

-- CreateIndex
CREATE INDEX "payments_createdAt_idx" ON "payments"("createdAt");

-- CreateIndex
CREATE INDEX "payments_deletedAt_idx" ON "payments"("deletedAt");

-- CreateIndex
CREATE UNIQUE INDEX "escrow_accounts_contractId_key" ON "escrow_accounts"("contractId");

-- CreateIndex
CREATE UNIQUE INDEX "escrow_accounts_taskId_key" ON "escrow_accounts"("taskId");

-- CreateIndex
CREATE INDEX "escrow_accounts_contractId_idx" ON "escrow_accounts"("contractId");

-- CreateIndex
CREATE INDEX "escrow_accounts_taskId_idx" ON "escrow_accounts"("taskId");

-- CreateIndex
CREATE INDEX "escrow_accounts_funded_idx" ON "escrow_accounts"("funded");

-- CreateIndex
CREATE UNIQUE INDEX "escrow_releases_paymentId_key" ON "escrow_releases"("paymentId");

-- CreateIndex
CREATE UNIQUE INDEX "escrow_releases_idempotencyKey_key" ON "escrow_releases"("idempotencyKey");

-- CreateIndex
CREATE INDEX "escrow_releases_escrowAccountId_idx" ON "escrow_releases"("escrowAccountId");

-- CreateIndex
CREATE INDEX "escrow_releases_status_idx" ON "escrow_releases"("status");

-- CreateIndex
CREATE INDEX "escrow_releases_autoApproveAt_idx" ON "escrow_releases"("autoApproveAt");

-- CreateIndex
CREATE UNIQUE INDEX "payouts_razorpayPayoutId_key" ON "payouts"("razorpayPayoutId");

-- CreateIndex
CREATE INDEX "payouts_userId_idx" ON "payouts"("userId");

-- CreateIndex
CREATE INDEX "payouts_engineerProfileId_idx" ON "payouts"("engineerProfileId");

-- CreateIndex
CREATE INDEX "payouts_status_idx" ON "payouts"("status");

-- CreateIndex
CREATE INDEX "payouts_requestedAt_idx" ON "payouts"("requestedAt");

-- CreateIndex
CREATE UNIQUE INDEX "wallets_userId_key" ON "wallets"("userId");

-- CreateIndex
CREATE INDEX "wallets_userId_idx" ON "wallets"("userId");

-- CreateIndex
CREATE INDEX "wallet_transactions_walletId_idx" ON "wallet_transactions"("walletId");

-- CreateIndex
CREATE INDEX "wallet_transactions_createdAt_idx" ON "wallet_transactions"("createdAt");

-- CreateIndex
CREATE INDEX "kyc_verifications_engineerProfileId_idx" ON "kyc_verifications"("engineerProfileId");

-- CreateIndex
CREATE INDEX "kyc_verifications_status_idx" ON "kyc_verifications"("status");

-- CreateIndex
CREATE UNIQUE INDEX "kyc_verifications_userId_key" ON "kyc_verifications"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "platform_subscriptions_razorpaySubscriptionId_key" ON "platform_subscriptions"("razorpaySubscriptionId");

-- CreateIndex
CREATE INDEX "platform_subscriptions_userId_idx" ON "platform_subscriptions"("userId");

-- CreateIndex
CREATE INDEX "platform_subscriptions_status_idx" ON "platform_subscriptions"("status");

-- CreateIndex
CREATE INDEX "platform_subscriptions_nextBillingDate_idx" ON "platform_subscriptions"("nextBillingDate");

-- CreateIndex
CREATE UNIQUE INDEX "invoices_paymentId_key" ON "invoices"("paymentId");

-- CreateIndex
CREATE UNIQUE INDEX "invoices_invoiceNumber_key" ON "invoices"("invoiceNumber");

-- CreateIndex
CREATE INDEX "invoices_invoiceNumber_idx" ON "invoices"("invoiceNumber");

-- CreateIndex
CREATE INDEX "invoices_invoiceDate_idx" ON "invoices"("invoiceDate");

-- CreateIndex
CREATE INDEX "invoices_deletedAt_idx" ON "invoices"("deletedAt");

-- CreateIndex
CREATE INDEX "contract_disputes_contractId_idx" ON "contract_disputes"("contractId");

-- CreateIndex
CREATE INDEX "contract_disputes_status_idx" ON "contract_disputes"("status");

-- CreateIndex
CREATE INDEX "contract_disputes_raisedBy_idx" ON "contract_disputes"("raisedBy");

-- CreateIndex
CREATE UNIQUE INDEX "webhook_events_idempotencyKey_key" ON "webhook_events"("idempotencyKey");

-- CreateIndex
CREATE INDEX "webhook_events_provider_idx" ON "webhook_events"("provider");

-- CreateIndex
CREATE INDEX "webhook_events_eventType_idx" ON "webhook_events"("eventType");

-- CreateIndex
CREATE INDEX "webhook_events_processed_idx" ON "webhook_events"("processed");

-- CreateIndex
CREATE INDEX "webhook_events_createdAt_idx" ON "webhook_events"("createdAt");

-- CreateIndex
CREATE INDEX "user_consents_userId_idx" ON "user_consents"("userId");

-- CreateIndex
CREATE INDEX "user_consents_consentType_idx" ON "user_consents"("consentType");

-- CreateIndex
CREATE INDEX "account_deletion_requests_userId_idx" ON "account_deletion_requests"("userId");

-- CreateIndex
CREATE INDEX "account_deletion_requests_status_idx" ON "account_deletion_requests"("status");

-- CreateIndex
CREATE INDEX "account_deletion_requests_scheduledFor_idx" ON "account_deletion_requests"("scheduledFor");

-- CreateIndex
CREATE INDEX "privacy_policy_acceptances_userId_idx" ON "privacy_policy_acceptances"("userId");

-- CreateIndex
CREATE INDEX "privacy_policy_acceptances_version_idx" ON "privacy_policy_acceptances"("version");

-- CreateIndex
CREATE INDEX "security_logs_event_idx" ON "security_logs"("event");

-- CreateIndex
CREATE INDEX "security_logs_userId_idx" ON "security_logs"("userId");

-- CreateIndex
CREATE INDEX "security_logs_timestamp_idx" ON "security_logs"("timestamp");

-- CreateIndex
CREATE INDEX "audit_logs_entity_idx" ON "audit_logs"("entity");

-- CreateIndex
CREATE INDEX "audit_logs_entityId_idx" ON "audit_logs"("entityId");

-- CreateIndex
CREATE INDEX "audit_logs_userId_idx" ON "audit_logs"("userId");

-- CreateIndex
CREATE INDEX "audit_logs_timestamp_idx" ON "audit_logs"("timestamp");

-- CreateIndex
CREATE INDEX "health_checks_service_idx" ON "health_checks"("service");

-- CreateIndex
CREATE INDEX "health_checks_status_idx" ON "health_checks"("status");

-- CreateIndex
CREATE INDEX "health_checks_timestamp_idx" ON "health_checks"("timestamp");

-- AddForeignKey
ALTER TABLE "engineer_profiles" ADD CONSTRAINT "engineer_profiles_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "company_profiles" ADD CONSTRAINT "company_profiles_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "engineer_skills" ADD CONSTRAINT "engineer_skills_engineerProfileId_fkey" FOREIGN KEY ("engineerProfileId") REFERENCES "engineer_profiles"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "refresh_tokens" ADD CONSTRAINT "refresh_tokens_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "engineer_projects" ADD CONSTRAINT "engineer_projects_engineerProfileId_fkey" FOREIGN KEY ("engineerProfileId") REFERENCES "engineer_profiles"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "engineer_experiences" ADD CONSTRAINT "engineer_experiences_engineerProfileId_fkey" FOREIGN KEY ("engineerProfileId") REFERENCES "engineer_profiles"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "build_in_public_activities" ADD CONSTRAINT "build_in_public_activities_engineerProfileId_fkey" FOREIGN KEY ("engineerProfileId") REFERENCES "engineer_profiles"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "assessments" ADD CONSTRAINT "assessments_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "assessments" ADD CONSTRAINT "assessments_engineerProfileId_fkey" FOREIGN KEY ("engineerProfileId") REFERENCES "engineer_profiles"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "neuron_score_history" ADD CONSTRAINT "neuron_score_history_engineerProfileId_fkey" FOREIGN KEY ("engineerProfileId") REFERENCES "engineer_profiles"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "mini_gate_tests" ADD CONSTRAINT "mini_gate_tests_engineerProfileId_fkey" FOREIGN KEY ("engineerProfileId") REFERENCES "engineer_profiles"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tasks" ADD CONSTRAINT "tasks_companyProfileId_fkey" FOREIGN KEY ("companyProfileId") REFERENCES "company_profiles"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tasks" ADD CONSTRAINT "tasks_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "task_participations" ADD CONSTRAINT "task_participations_taskId_fkey" FOREIGN KEY ("taskId") REFERENCES "tasks"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "task_participations" ADD CONSTRAINT "task_participations_engineerProfileId_fkey" FOREIGN KEY ("engineerProfileId") REFERENCES "engineer_profiles"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "task_participations" ADD CONSTRAINT "task_participations_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "task_submissions" ADD CONSTRAINT "task_submissions_taskId_fkey" FOREIGN KEY ("taskId") REFERENCES "tasks"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "task_submissions" ADD CONSTRAINT "task_submissions_engineerProfileId_fkey" FOREIGN KEY ("engineerProfileId") REFERENCES "engineer_profiles"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "task_submissions" ADD CONSTRAINT "task_submissions_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "task_questions" ADD CONSTRAINT "task_questions_taskId_fkey" FOREIGN KEY ("taskId") REFERENCES "tasks"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "task_questions" ADD CONSTRAINT "task_questions_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "task_nda_signatures" ADD CONSTRAINT "task_nda_signatures_taskId_fkey" FOREIGN KEY ("taskId") REFERENCES "tasks"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "task_nda_signatures" ADD CONSTRAINT "task_nda_signatures_engineerProfileId_fkey" FOREIGN KEY ("engineerProfileId") REFERENCES "engineer_profiles"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "task_nda_signatures" ADD CONSTRAINT "task_nda_signatures_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "products" ADD CONSTRAINT "products_engineerProfileId_fkey" FOREIGN KEY ("engineerProfileId") REFERENCES "engineer_profiles"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "products" ADD CONSTRAINT "products_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "purchases" ADD CONSTRAINT "purchases_productId_fkey" FOREIGN KEY ("productId") REFERENCES "products"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "purchases" ADD CONSTRAINT "purchases_buyerId_fkey" FOREIGN KEY ("buyerId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "purchases" ADD CONSTRAINT "purchases_companyProfileId_fkey" FOREIGN KEY ("companyProfileId") REFERENCES "company_profiles"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "subscriptions" ADD CONSTRAINT "subscriptions_purchaseId_fkey" FOREIGN KEY ("purchaseId") REFERENCES "purchases"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "disputes" ADD CONSTRAINT "disputes_purchaseId_fkey" FOREIGN KEY ("purchaseId") REFERENCES "purchases"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "product_reviews" ADD CONSTRAINT "product_reviews_productId_fkey" FOREIGN KEY ("productId") REFERENCES "products"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "bundles" ADD CONSTRAINT "bundles_engineerProfileId_fkey" FOREIGN KEY ("engineerProfileId") REFERENCES "engineer_profiles"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "bundle_products" ADD CONSTRAINT "bundle_products_bundleId_fkey" FOREIGN KEY ("bundleId") REFERENCES "bundles"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "bundle_products" ADD CONSTRAINT "bundle_products_productId_fkey" FOREIGN KEY ("productId") REFERENCES "products"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "referral_links" ADD CONSTRAINT "referral_links_productId_fkey" FOREIGN KEY ("productId") REFERENCES "products"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "product_analytics" ADD CONSTRAINT "product_analytics_productId_fkey" FOREIGN KEY ("productId") REFERENCES "products"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "job_postings" ADD CONSTRAINT "job_postings_companyProfileId_fkey" FOREIGN KEY ("companyProfileId") REFERENCES "company_profiles"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "job_postings" ADD CONSTRAINT "job_postings_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "job_applications" ADD CONSTRAINT "job_applications_jobPostingId_fkey" FOREIGN KEY ("jobPostingId") REFERENCES "job_postings"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "job_applications" ADD CONSTRAINT "job_applications_engineerProfileId_fkey" FOREIGN KEY ("engineerProfileId") REFERENCES "engineer_profiles"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "job_applications" ADD CONSTRAINT "job_applications_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "smart_matches" ADD CONSTRAINT "smart_matches_jobPostingId_fkey" FOREIGN KEY ("jobPostingId") REFERENCES "job_postings"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "smart_matches" ADD CONSTRAINT "smart_matches_engineerProfileId_fkey" FOREIGN KEY ("engineerProfileId") REFERENCES "engineer_profiles"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "contracts" ADD CONSTRAINT "contracts_jobPostingId_fkey" FOREIGN KEY ("jobPostingId") REFERENCES "job_postings"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "contracts" ADD CONSTRAINT "contracts_companyProfileId_fkey" FOREIGN KEY ("companyProfileId") REFERENCES "company_profiles"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "contracts" ADD CONSTRAINT "contracts_engineerProfileId_fkey" FOREIGN KEY ("engineerProfileId") REFERENCES "engineer_profiles"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "contracts" ADD CONSTRAINT "contracts_companyUserId_fkey" FOREIGN KEY ("companyUserId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "contracts" ADD CONSTRAINT "contracts_engineerUserId_fkey" FOREIGN KEY ("engineerUserId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "time_entries" ADD CONSTRAINT "time_entries_contractId_fkey" FOREIGN KEY ("contractId") REFERENCES "contracts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "time_entries" ADD CONSTRAINT "time_entries_engineerProfileId_fkey" FOREIGN KEY ("engineerProfileId") REFERENCES "engineer_profiles"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "milestone_payments" ADD CONSTRAINT "milestone_payments_contractId_fkey" FOREIGN KEY ("contractId") REFERENCES "contracts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "contract_amendments" ADD CONSTRAINT "contract_amendments_contractId_fkey" FOREIGN KEY ("contractId") REFERENCES "contracts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "availability_slots" ADD CONSTRAINT "availability_slots_engineerProfileId_fkey" FOREIGN KEY ("engineerProfileId") REFERENCES "engineer_profiles"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "message_requests" ADD CONSTRAINT "message_requests_fromUserId_fkey" FOREIGN KEY ("fromUserId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "message_requests" ADD CONSTRAINT "message_requests_toUserId_fkey" FOREIGN KEY ("toUserId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "conversations" ADD CONSTRAINT "conversations_participant1Id_fkey" FOREIGN KEY ("participant1Id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "conversations" ADD CONSTRAINT "conversations_participant2Id_fkey" FOREIGN KEY ("participant2Id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "messages" ADD CONSTRAINT "messages_conversationId_fkey" FOREIGN KEY ("conversationId") REFERENCES "conversations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "messages" ADD CONSTRAINT "messages_senderId_fkey" FOREIGN KEY ("senderId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "project_chat_rooms" ADD CONSTRAINT "project_chat_rooms_contractId_fkey" FOREIGN KEY ("contractId") REFERENCES "contracts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "project_chat_participants" ADD CONSTRAINT "project_chat_participants_roomId_fkey" FOREIGN KEY ("roomId") REFERENCES "project_chat_rooms"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "project_chat_participants" ADD CONSTRAINT "project_chat_participants_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "project_chat_messages" ADD CONSTRAINT "project_chat_messages_roomId_fkey" FOREIGN KEY ("roomId") REFERENCES "project_chat_rooms"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "project_chat_messages" ADD CONSTRAINT "project_chat_messages_senderId_fkey" FOREIGN KEY ("senderId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "off_platform_violations" ADD CONSTRAINT "off_platform_violations_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "engineer_analytics" ADD CONSTRAINT "engineer_analytics_engineerProfileId_fkey" FOREIGN KEY ("engineerProfileId") REFERENCES "engineer_profiles"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "company_analytics" ADD CONSTRAINT "company_analytics_companyProfileId_fkey" FOREIGN KEY ("companyProfileId") REFERENCES "company_profiles"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "payments" ADD CONSTRAINT "payments_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "escrow_releases" ADD CONSTRAINT "escrow_releases_escrowAccountId_fkey" FOREIGN KEY ("escrowAccountId") REFERENCES "escrow_accounts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "escrow_releases" ADD CONSTRAINT "escrow_releases_paymentId_fkey" FOREIGN KEY ("paymentId") REFERENCES "payments"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "payouts" ADD CONSTRAINT "payouts_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "wallets" ADD CONSTRAINT "wallets_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "wallet_transactions" ADD CONSTRAINT "wallet_transactions_walletId_fkey" FOREIGN KEY ("walletId") REFERENCES "wallets"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "kyc_verifications" ADD CONSTRAINT "kyc_verifications_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "platform_subscriptions" ADD CONSTRAINT "platform_subscriptions_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "invoices" ADD CONSTRAINT "invoices_paymentId_fkey" FOREIGN KEY ("paymentId") REFERENCES "payments"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "contract_disputes" ADD CONSTRAINT "contract_disputes_contractId_fkey" FOREIGN KEY ("contractId") REFERENCES "contracts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "user_consents" ADD CONSTRAINT "user_consents_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "account_deletion_requests" ADD CONSTRAINT "account_deletion_requests_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "privacy_policy_acceptances" ADD CONSTRAINT "privacy_policy_acceptances_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

